[Desktop Entry]
Version=1.0
Type=Application

Name=Tabletop Club
Comment=Play tabletop games in a physics-based 3D sandbox
Categories=Game;BoardGame;

Icon=net.tabletopclub.TabletopClub
Exec=tabletop-club-wrapper
Terminal=false
